{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
{% endblock %}

{% block body %}

<div class="body"> 
    
    <div class="container">
        <h2 class="py-5 headers" id="header">Events</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            {% for event in events %}
                <div class="my-4">
                    <div class="card myCard">
                        <a href="{{ path('app_events_show', {'id': event.id}) }}"><img src="{{ event.image }}" class="card-img-top myCardImg" alt="{{ event.name }}"></a>
                        <div class="card-body">
                          <a href="{{ path('app_events_show', {'id': event.id}) }}"><h5 class="card-title">{{ event.name }}</h5></a>
                          <p class="fst-italic">{{ event.type }}</p>
                          <p>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</p>
                          <p>{{ event.address }}</p>
                          <p class="fst-italic">{{ event.website }}</p>
                          <a href="{{ path('app_events_show', {'id': event.id}) }}">More</a>
                          <a href="{{ path('app_events_edit', {'id': event.id}) }}">Edit</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div>
                    <p colspan="12">no records found</>
                </div>
           {% endfor %}
        
           {# <a href="{{ path('app_events_new') }}">Create new</a> #}
        
        </div>
        
    </div>

</div>

{% endblock %}

    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>Description</th>
                <th>Image</th>
                <th>Capacity</th>
                <th>Email</th>
                <th>Phone_number</th>
                <th>Address</th>
                <th>Website</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.image }}</td>
                <td>{{ event.capacity }}</td>
                <td>{{ event.email }}</td>
                <td>{{ event.phoneNumber }}</td>
                <td>{{ event.address }}</td>
                <td>{{ event.website }}</td>
                <td>{{ event.type }}</td>
                <td>
                    <a href="{{ path('app_events_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('app_events_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}

    

