{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
{% endblock %}

{% block body %}

<div class="body"> 
    
    <div class="container">
        {# *************Filtering**************** #}
        <form action="{{ path('app_events_filter_by_type') }}" method="GET" class="pt-5">
            <div class="input-group">
                <select class="form-select" name="type" id="inputGroupSelect04" aria-label="Example select with button addon">
                    <option selected>Choose event type</option>
                      <option value="art">Art</option>
                      <option value="dance">Dance</option>
                      <option value="fashion">Fashion</option>
                      <option value="food">Food</option>
                      <option value="gaming">Gaming</option>
                      <option value="movie">Movie</option>
                      <option value="music">Music</option>
                      <option value="science">Science</option>
                      <option value="sport">Sport</option>
                      <option value="theater">Theater</option>
                </select>
                <button class="btn btn-outline-secondary" type="submit">Choose</button>
            </div>
        </form>
        {# ************************Alert********************* #}
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {# ********************All events******************** #}
        <h2 class="py-5 headers" id="header">Events</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            {% for event in events %}
                <div class="my-4">
                    <div class="card myCard">
                        <div class="imageContainer">
                            <a href="{{ path('app_events_show', {'id': event.id}) }}"><img src="{{ event.image }}" class="card-img-top myCardImg" alt="{{ event.name }}"></a>
                        <div class="middle">
                            <div class="text"><a class="more" href="{{ path('app_events_show', {'id': event.id}) }}">More</a></div>
                        </div>
                        </div>
                        <div class="card-body mainCard">
                          <a class="title" href="{{ path('app_events_show', {'id': event.id}) }}"><h5 class="card-title">{{ event.name }}</h5></a>
                          <p>Type: <span class="fst-italic">{{ event.type }}</span></p>
                          <p>Date: {{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</p>
                          <p class="address">Address: {{ event.address }}</p>
                          <p>For more information: </p>
                          <span class="fst-italic"><a href="#" class="website">{{ event.website }}</a></span>
                        </div>
                        <div class="card-body">
                          <a href="{{ path('app_events_edit', {'id': event.id}) }}"><button class="btn btnEdit">Edit</button></a>
                          <a href="{{ path('app_events_delete', {'id': event.id}) }}"><button class="btn btnDelete">Delete</button></a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div>
                    <p colspan="12">no records found</>
                </div>
           {% endfor %}
        
        </div>
        
    </div>

</div>

{% endblock %}

                        {# {% if imageFromUploader[event.id] %}
                            <img src="{{ imageFromUploader[event.id] }}" class="card-img-top myCardImg" alt="{{ event.name }}">
                        {% else %}
                            <a href="{{ path('app_events_show', {'id': event.id}) }}"><img src="{{ event.image }}" class="card-img-top myCardImg" alt="{{ event.name }}"></a>
                        {% endif %} #}

    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>Description</th>
                <th>Image</th>
                <th>Capacity</th>
                <th>Email</th>
                <th>Phone_number</th>
                <th>Address</th>
                <th>Website</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.image }}</td>
                <td>{{ event.capacity }}</td>
                <td>{{ event.email }}</td>
                <td>{{ event.phoneNumber }}</td>
                <td>{{ event.address }}</td>
                <td>{{ event.website }}</td>
                <td>{{ event.type }}</td>
                <td>
                    <a href="{{ path('app_events_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('app_events_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}

    

