{% extends 'base.html.twig' %}

{% block title %}Event's details{% endblock %}

{% block body %}
<div class="body">
    <div class="container pb-5">
        <a href="{{ path('app_events_index') }}" class="btn btnBack my-5">Back</a>
        <h2 class="pb-5 headers">Events</h2>

        <div class="card mb-3 myCardDetails">
            <div class="row g-0">
                <div class="col-md-8">
                    <img src="{{ asset('images/'~ event.image)}}" class="img-fluid rounded-start cardImgDetails" alt="{{ event.name }}">
                </div>
                <div class="col-md-4 bgCard">
                    <div class="card-body detTitle">
                        <h5 class="card-title py-2">Event: {{ event.name }}</h5>
                    </div>
                    <div class="cardList">
                          <p class="card-text">Description: <span class="fst-italic">{{ event.description }}</span></p>
                          <p class="bodyDetails">Type: <span class="fst-italic">{{ event.type }}</span></p>
                          <p class="bodyDetails">Capacity: {{ event.capacity }}</p>
                          <p class="bodyDetails">Email: {{ event.email }}</p>
                          <p class="bodyDetails">Contact number: {{ event.phoneNumber }}</p>
                          <p class="bodyDetails">Address: {{ event.address  }}</p>
                          <p class="bodyDetails">Website: <span class="fst-italic">{{ event.website  }}</span></p>
                          <p class="bodyDetails">Date: {{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</p>
                          <div class="card-body">
                            <a href="{{ path('app_events_edit', {'id': event.id}) }}" class="btn btnEdit">Edit</a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
